<div class="friends_list_panel">
	<div class="friend_list">

		<system_msg_title_comp :account="account" @curr_right_content="set_right_panel" @friend_list="itemClick" v-ref:system_msg_title_comp></system_msg_title_comp>
	
		<div class="friend_list_item"
			v-bind:class="{'friend_list_item_selected':itemSelected==$index}"
			v-for="friend in friends" v-on:click="itemClick(this)">
			<div class="item_content">
				<div class="time">
					<p class="time">{{time}}</p>
				</div>
				<div class="item_icon">
					<img alt="" src="images/testicon.png">
				</div>
				<div class="item_info">
					<h3>{{friend.username}}</h3>
					<p>{{friend.firstmsg}}</p>

				</div>

			</div>
		</div>
	</div>
</div>