<div class="userinfo_comp_panel">
	<div class="header_panel">
		
		<div class="under_line">
			<div class="title">{{title}}</div>
		</div>
		
	</div>
	<div class="userinfo_body">
		<div class="user_icon_panel">
			<img src="images/testicon.png">
		</div>
		<div class="username_panel">
			<h1>{{username}}</h1>
			<img alt="图片加载失败" :src="icon_src">
		</div>
		<div class="user_info_panel">
			
			<div class="label">位置：{{position}}</div>		
		</div>
		<div class="user_btn_panel">
			<button class="ui primary button" v-on:click="click">{{btn_msg}}</button>
		</div>
	</div>
</div>