body{

	background-color: #d7f3ec;
}

.display_none{
	display:none;
}

.login_panel{
	margin:auto;
	margin-top:100px;
	width: 500px;
	height: 300px;
	
	
}

.login_panel .ui.dividing.header{
	color: #989a98;
	
}

.login_panel .ui.corner.labeled.input{
	width: 300px;
	
	
}
.login_panel .accountPanel{
	margin-top: 30px;
	height: 71px;
}
.login_panel .passwordPanel{
	height: 71px;
}
.login_panel .ui.primary.button{
		margin-top:10px;
	margin-left: 65px;
	width: 150px;
	
}
.login_panel .ui.primary.loading.button{
	margin-top:10px;
	margin-left: 65px;
	width: 150px;
	display: none;
}

.login_panel .input_panel{
	
	line-height:3;
	text-align: center;
	
}
.login_panel .ui.pointing.label{
	display:block;
	width: 150px;
	margin-left: 65px;
	margin-top: 3px;
	background-color: red;
	display:none;
}
.login_panel .registerBtnClick{
	color: #b9afaf;
	cursor: pointer;
}
