body{
	background-color: #d7f3ec;
}

.regist_panel{
	width: 700px;
	margin: 0px auto;
	margin-top: 50px;
	
}

.regist_panel .ui.form.segment input
{
	width: 400px;
	margin-top: 20px;
	
	
}
.regist_panel .ui.left.pointing.red.basic.label{
	margin-top: 25px;
	
	
	
}
.regist_panel .ui.left.pointing.red.basic.label.none{
	margin-top: 25px;
	display:none;
	
}
.regist_panel .ui.pointing.red.basic.label.none{
	display:none;
	
}

.regist_panel .verification_code_panel{
	width: 400px;
	display: flex;
	
	
	
}

.ui.form .field {
    clear: both;
    margin-top: 20px;
}
.regist_panel .field{
	width: 400px;
	
}

.regist_panel .ui.primary.button{
	margin-left: 15px;
	background-color: #03f4bc;
}
.regist_panel .ui.styled.accordion{
	
	margin-top: 10px;
}
.regist_panel .ui.toggle.checkbox{
	margin-top: 15px
}
.regist_panel .loginBtnClick{
	color: #b9afaf;
	cursor: pointer;
}

